:root {
  font-family: 'Courier New', Courier, monospace;
}

a {
  font-size: 125%;
}

.container {
  display: flex;
  flex-flow: column; /* Change to column layout on small screens */
}

.header, .blog, .sidebar, .footer {
  flex: 1 100%;
}

.header {
  background: #f0f080;
  text-align: center;
}

.sidebar {
  background: #80f0f0;
  padding: 10px;
}

.footer {
  background: #f080f0;
  padding: 10px;
  text-align: center;
}

.blog {
  background: #80f080;
  padding: 10px;
}

/* medium screen */
@media all and (min-width: 600px) {
  .container {
    flex-flow: row wrap; /* Revert to row layout for medium screens and above */
  }

  .blog {
    flex: 2 0;
  }

  .sidebar {
    flex: 1 0;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  .blog {
    flex: 3 0;
  }

  .sidebar {
    flex: 1 0;
  }
}