:root {
  font-family: 'Courier New', Courier, monospace;
}

a {
  font-size: 125%;
}

h3 { 
  font-size: 135%;
}

p {
  font-size: 125%;
}

.container {
  display: flex;
  flex-flow: column; /* Change to column layout on small screens */
}

.header, .blog, .sidebar, .footer {
  font-size: 90%;
  flex: 1 100%;
}

.header {
  background: #739efa;
  text-align: center;
}

.header a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent (h1) */
  font-size: 90%;
}
.header a:hover {
  text-decoration: none; /* Remove underline on hover */
}

.sidebar {
  background: #9e80f0;
  padding: 10px;
}

.footer {
  background: #f080f0;
  padding: 10px;
  text-align: center;
}

.blog {
  background: #ecefff;
  padding: 10px;
}

.blog img {
  /* width: 100%; /* Occupies 100% of the available space within the blog section */
  width: auto;
  max-width: 70%; /* Ensures the image or iframe does not exceed its intrinsic width */
  
}


/* medium screen */
@media all and (min-width: 600px) {
  .container {
    flex-flow: row wrap; /* Revert to row layout for medium screens and above */
  }

  .blog {
    flex: 2 0;
  }

  .sidebar {
    flex: 1 0;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  .blog {
    flex: 3 0;
  }

  .sidebar {
    flex: 1 0;
  }
}